*{
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: o;
    background-image: url('background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    color: aqua;
    font-size: 28px;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quiz-container{
    align-items: center;
    justify-content: center;
    max-width: 100%;
    
    
}
ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    margin: 1rem 0;
    font-size: 1.6;
    display: flex;
    font-weight: normal;
}
ul li label{
    cursor: pointer;
}
button{
    background: cyan;
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 0.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-radius: 16px;
}
button:hover{
    background: rgb(5, 182, 182);
}